body {
	background-color: #BC8F8F;
	color: #000000;
	margin:80px 80px 100px 100px;
	font-size: 10px;
}

li {
    display: inline;
}


.main-image{
	width: 80.33%;	
}

@media (min-width: 500px) {
  	.main-image{
		width: 300px;
		height: 260px;
	}
}



div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background: #B0C4DE;
	padding:20px;
	font-size: 15px;
	font-weight: bold;
	word-spacing: 60px;
	padding-left: 50px;
	font-variant: small-caps;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}



div#fixedfooter {
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	font-size: 15px;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	word-spacing: 60px;
	background: #B0C4DE;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding:8px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
	text-align: center;
	color:#8B008B;
}

h2 {
	text-align: center;
}

p {
	color: #000000; 
}

header {
	font-size: 20px;

}
